
.container {
    max-width: 800px;
    padding: 1em;
}

.super {
    margin: 10vh 0 10vh 0;
    font-size: 1.5em;
    text-align: center;
}

/* For devices larger than 400px */
/* @media (min-width: 400px) { */
/*     .super { */
/*         margin: 10vh 10vw 10vh 10vw; */
/*         padding: 0; */
/*     } */
/* } */

.hero {
    padding: 1em;
    text-align: center;
}

.become-a-backer {
    text-align: center;
}

.become-a-backer .button {
    height: 5em;
    line-height: 5em;
}

.header {
    margin: 0.8em 0 0.8em 1.2em;
}

.overview span {
    margin-right: 1em;
}

.logo {
    font-weight: bold;
    font-size: 1.5em;
}

h1 {
    font-size: 1.6em;
    margin-bottom: 0;
}

h2 {
    font-size: 1.4em;
    font-weight: bold;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
}

