
.container {
    max-width: 800px;
    padding: 1em;
}

.hero {
    padding: 1em;
    text-align: center;
    background-color: #f9f9f9;
}

.header {
    margin: 0.8em 0 0.8em 1.2em;
}

.overview span {
    margin-right: 1em;
}

.logo {
    font-weight: bold;
    font-size: 1.5em;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

