
.container {
    max-width: 800px;
    padding: 1em;
}

.paid {
    color: green;
    font-weight: bold;
}

.centered {
    text-align: center;
}

.super {
    margin: 10vh 0 10vh 0;
    font-size: 1.5em;
    text-align: center;
}

input.peer {
    margin-bottom: 0;
}

input.payreq {
    margin-bottom: 0;
}

.header .beta {
    color: red;
    font-size: 0.6em;
}

.header .network {
    color: #aaa;
    line-height: 0.2em;
    text-align: left;
}

.card-pay {
    min-height: 30em;
    max-height: 30em;
    min-width: 19em;

    margin-bottom: 1em;
    padding: 1em;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    text-align: center;
}

.qrcodes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-tier {
    min-height: 15em;
    max-height: 15em;
}

.tier {
    /* border: 2px solid black; */
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
    text-align: center;
}

.tier .button {
    margin: 0;
}

.tier .per {
    font-size: 1.2rem;
    color: #888;
}

.tier p {
    margin: 0 0 0.5em 0;
    overflow-y: auto;
}

.tier .amount {
    font-size: 2rem;
}

.hero {
    padding: 1em;
    text-align: center;
}

.become-a-backer {
    text-align: center;
}

.become-a-backer .button {
    height: 5em;
    line-height: 5em;
}

.header {
    display: inline-block;
    margin: 0.8em 1.2em 0.8em 1.2em;
}

.overview span {
    margin-right: 1em;
}

.logo {
    font-weight: bold;
    font-size: 1.5em;
}

h1 {
    font-size: 1.6em;
    margin-bottom: 0;
}

h2 {
    font-size: 1.4em;
    font-weight: bold;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
}

