<!DOCTYPE html>
<html>
<head>
{{>head}}
    {{#user}}
    <title>Back {{name}} | bitsbacker</title>
    {{/user}}
</head>
<body>
    {{>header}}
    <div class="hero">
        <h1>Make bitsbacker a reality</h1>
    </div>
    <div class="container">
        {{#tiers}}
        <div class="row">
           {{#columns}}
            <div class="{{colwidth}} n-{{ncolumns}} column">
                <div class="tier">
                    {{description}}
                </div>
            </div>
           {{/columns}}
        </div>
        {{/tiers}}
    </div>
</body>
</html>
