<!DOCTYPE html>
<html>
<head>
{{>head}}
    <title>Back {{user.name}} | bitsbacker</title>
</head>
<body>
    {{>header}}
    <div class="hero">
        <h1>Make bitsbacker a reality</h1>
    </div>
    <div class="container">
        {{#tiers}}
        <div class="row">
           {{#columns}}
            <div class="{{colwidth}} n-{{ncolumns}} column">
                <div class="tier">
                    <div class="amount">
                        <b>{{amount_bits}}</b> bits
                        <p class="per">per month</p>
                    </div>
                    <p>{{description}}</p>
                    <a class="button button-primary" href="/checkout/{{tier_id}}">Select</a>
                </div>
            </div>
           {{/columns}}
        </div>
        {{/tiers}}
    </div>
</body>
</html>
