<!DOCTYPE html>
<html>
<head>
{{>head}}
    <title>Back {{user.name}} | satsbacker</title>
</head>
<body>
    {{>header}}
    <div class="hero">
        <h1>Make satsbacker a reality</h1>
    </div>
    <div class="container">
        <form method="post">
        <input type="hidden" name="user" value="{{user.name}}"/>
        <div class="centered">
            <label for="email">Email</label>
            <input type="text" name="email"/>
            <p>Your email is required for the receipt and for eventually creating an account if you choose to do so</p>
        </div>
        {{#tiers}}
        <div class="row">
           {{#columns}}
            <div class="{{colwidth}} n-{{ncolumns}} column">
                <div class="tier card-tier">
                    <div class="amount">
                        <b>{{amount_bits}}</b> bits
                        <p class="per">per month<br/><b>{{subs}}</b> backers</p>
                    </div>
                    <p>{{description}}</p>
                    <input class="button button-primary" type="submit" formaction="/checkout/{{tier_id}}" value="Select"></input>
                </div>
            </div>
           {{/columns}}
        </div>
        {{/tiers}}
        </form>
    </div>
</body>
</html>
