<!DOCTYPE html>
<html>
<head>
{{>head}}
    {{#user}}
    <title>Back {{name}} checkout | bitsbacker</title>
    {{/user}}
</head>
<body>
    {{>header}}
    <div class="hero">
        <h1>Back {{user.name}} for <b>{{invoice.amount_bits}}</b> bits per month</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="four columns">
                <label for="expiry">Expires At</label>
            </div>
            <div class="eight columns">
                <p><span class="timestamp">{{invoice.expires_at}}</span></p>
            </div>
        </div>
        <div class="row">
            <div class="four columns">
                <label for="description">Description</label>
            </div>
            <div class="eight columns">
                <p>{{invoice.description}}</p>
            </div>
        </div>
        <div class="row">
            <label for="invoice">Payment Request</label>
            <input class="u-full-width" type="text" readonly value="{{invoice.payreq}}"></input>
        </div>
        <div class="row">
            <div class="four columns">
                <label for="id">Invoice Id</label>
            </div>
            <div class="eight columns">
                <p>{{invoice.id}}</p>
            </div>
        </div>
        <div class="row">
            <div class="four columns">
                <label for="status">Status</label>
            </div>
            <div class="eight columns">
                <p>Waiting for payment...</p>
            </div>
        </div>
    </div>
</body>
<script>
 function formatDate(d) {
     var hours = d.getHours();
     var mins = d.getMinutes();
     return d.toLocaleDateString() + " " + hours + ":" + mins;
 }

 (function(){
     document.querySelectorAll(".timestamp").forEach(function(ts) {
         ts.innerHTML = formatDate(new Date(+ts.innerHTML * 1000));
     });
 })();
</script>
</html>
