<!DOCTYPE html>
<html>
    <head>
        {{>head}}
        <title>signup | {{config.site.name}}</title>
    </head>
    <body>
        {{>header}}
        <div class="container">
            <form>
                <label for="name">Name</label>
                <input class="u-full-width" type="text" id="name"></input>

                <label for="email">Email</label>
                <input class="u-full-width" type="text" id="email"></input>
            </form>
        </div>
    </body>
</html>
