<!DOCTYPE html>
{{#user}}
<html>
<head>
{{>head}}
    <title>{{ name }} is making {{making}} | {{config.site.name}}</title>
    <style>
     .hero-bg {
         background-image: url("https://pbs.twimg.com/profile_banners/9918032/1531711830/1500x500");
         background-repeat: no-repeat;
         background-size: cover;
         color: white;
         font-size: 2.5rem;
         margin-bottom: 1em;
         text-shadow: 1px 1px black;
         border-top: 4px solid black;
         border-bottom: 4px solid black;
     }
    </style>
</head>
<body>
    {{>header}}
    <div class="hero hero-bg">
        <p class="making"><b>{{name}}</b> is making {{making}}</p>
        {{#stats}}
        <div class="overview">
            <span class="backers"><b>{{backers}}</b> backers</span>
            <span class="bits-per-month"><b>{{perMonth}}</b> {{config.site.amount_type}}/month</span>
        </div>
        {{/stats}}
    </div>
    <div class="container">
        <h2>About</h2>
        <p>My name is William Casarin. I've started satsbacker as a response to
        Pateron's abusive<sup><a target="_blank" href="https://bitchute.info/bitchute-suspended-by-patreon-but-theres-more/">[1]</a></sup>
        treatment of users that don't fit their perferred political mold<sup><a target="_blank" href="https://mailchi.mp/samharris/closing-my-patreon-account?e=8575fca90e">[2]</a></sup>. satsbacker is <b>open source</b> Patreon alternative built on the
        Bitcoin Lightning network.</p>

        <p>When running satsbacker, the users and backers are in control. No
        service provider or payment processor can shut you down. As long as you
        have server with a connection to the internet, you can get paid by
        people who support your work. </p>

        <h3>Planned Features</h3>

        <ul>
            <li>Open source, MIT licensed. You will be able to run your own server if desired.</li>
            <li>Paypal, Stripe support. Although these are susceptible to censorship, it would still be nice these payment options.</li>
            <li>Full Bitcoin Lightning network support. This is already working!</li>
            <li>Onchain Bitcoin support.</li>
            <li>Goals, posts, superchat.</li>
            <li>Individual donations, comment or <a target="_blank" href="https://satoshis.place">draw</a> on your wall.</li>
            <li>A flexible templating system to support many kinds of donation models</li>
            <li>A drop-in, run-your-own replacement for lightning-charge, btcpayserver, earn.com, etc.</li>
            <li>YOUR IDEA HERE. This will be an open source project. Feel free to <a href="mailto:William Casarin <jb55@jb55.com>?subject=satsbacker idea">contribute</a>.</li>
        </ul>

        <h3>How you can help</h3> <p>I need your help building this out. I've
            started a satsbacker for satsbacker to help make this a reality.</p>

       <div class="centered">
          <a class="button button-large button-primary" href="/back/{{name}}">Become a backer</a>
       </div>
    </div>
</body>
</html>
{{/user}}
