<!DOCTYPE html>
{{#user}}
<html>
<head>
{{>head}}
    <title>{{ name }} is making {{making}} | bitsbacker</title>
</head>
<body>
    {{>header}}
    <div class="hero">
        <h1>
            <p><b>{{name}}</b> is making {{making}}</p>
        </h1>
        {{#stats}}
        <div class="overview">
            <span class="backers"><b>{{backers}}</b> backers</span>
            <span class="bits-per-month"><b>{{perMonth}}</b> bits/month</span>
        </div>
        {{/stats}}
    </div>
    <div class="container">
        <h2>About</h2>
        <p>My name is William Casarin. I've started Bitsbacker as a response to
        Pateron's abusive treatment of users that don't fit their perferred
        political mold. Bitsbacker is open source alternative built on the
        Bitcoin Lightning network.</p>

        <p>When running Bitsbacker, the users and backers are in control. No
        service provider or payment processor can shut you down. As long as you
        have server with a connection to the internet, you can get paid by
        people who support your work. </p>

        <h3>How you can help</h3> <p>I need your help building this out. I've
        started a bitsbacker for bitsbacker. To help make this a reality:</p>

       <div class="become-a-backer">
          <a class="button button-primary" href="/back/{{name}}">Become a backer</a>
       </div>
    </div>
</body>
</html>
{{/user}}
